body{
    margin:5px;
    background-image: url('https://wallpaperaccess.com/full/754632.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(226, 243, 130, 0.822);
    font-size:large;
}